@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

@font-face {
    font-family: 'ParkYongJun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/ParkYongJun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OTWelcomeBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.custom-sm-btn {
    font-family: 'SUIT-Medium';
    font-size: 15px;
    line-height: 1.5;
    color: #151515;
    text-transform: uppercase;
    border: none;
    width: 150px;
    height: 80px;
    border-radius: 5px;
    background: rgb(149, 255, 163);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.custom-sm-btn:hover {
    background: rgb(148, 253, 162);
}

.body {
    font-family: 'SUIT-Medium';
}

div {
    font-family: 'SUIT-Medium';
}